<!-- Please build the favorites page here. -->
<div class="container">
	<div class="row">
		<div class="col-md-4">
			<div class="main-header">
				<%= image_tag("teachable-logo.png", class: "img-responsive teach-logo") %>
				<%= image_tag("map.png", class: "img-responsive map-image") %>
			</div>
			<div class="nav-links">
				<ul>
					<li><a href="/" class="search-link">Search</a></li>
					<li><a href="/favorites" class="favorites-link">Favorites</a></li>
				</ul>
			</div>
		</div>
		<div class="col-md-8">
			<div class="gem-favs">
				<h1>Your Favorite Gems</h1>
				<div id="favhtml"></div>
				<%= react_component 'GemFavorites' %>
			</div>
		</div>
		
	</div>
</div>