<!-- Please build the favorites page here. -->
<div class="container">
	
	<div class="row">
		<a href="/">search</a>
		<a href="/favorites">favorites</a>
		<div class="col-sm-6">
			<div>
				<%= image_tag("teachable-logo.png", class: "img-responsive") %>
				<%= image_tag("map.png", class: "img-responsive") %>
				
			</div>
		</div>
		<div class="col-sm-6">
			<div id="favhtml"></div>
			<%= react_component 'GemFavorites' %>
		</div>
		
	</div>
</div>