<!-- Please build the search page here. -->
<div class="container">
	
	<div class="row">
		<div class="col-sm-6">
			<div>
				<%= image_tag("teachable-logo.png", class: "img-responsive") %>
				<%= image_tag("map.png", class: "img-responsive") %>
				
			</div>
		</div>
		<div class="col-sm-6">
			search here
		</div>
		
	</div>
</div>